@import url("https://fonts.googleapis.com/css?family=Josefin+Sans");
@import url("https://fonts.googleapis.com/css?family=Concert+One");
@import url("https://fonts.googleapis.com/css?family=Changa");
@import url("https://fonts.googleapis.com/css?family=Kreon");
@import url("https://fonts.googleapis.com/css?family=Fredoka+One");

body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: sans-serif;
  background-color: #818181;
}

/*Navigation bar coding*/
.navtop {
  width: 100%;
  background: #080706;
  position: relative;
  z-index: 2;
  position: fixed;
}

.navtoplist {
  width: 80%;
  margin: 0 auto;
  padding: 0;
  word-spacing: 80px;
  text-align: center;
}

.navabdul {
  width: 80%;
}

.navtoplist li {
  list-style: none;
  display: inline-block;
  padding: 14px;
  font-size: 18px;
  font-weight: 700;
  font-family: "Changa", sans-serif;
}

.navtoplist li:hover {
  background: #efefef;
  color: #080706;
}

.navtoplist a {
  text-decoration: none;
  color: #d1b280;
}

.navtopicon {
  width: 100%;
  padding: 5px 20px;
  background: #080706;
  text-align: right;
  box-sizing: border-box;
  color: #d1b280;
  font-size: 25px;
  display: none;
}
/*end of naviation coding*/

.bgimage {
  background-position: centre;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  position: relative;
}
.downarrow {
  text-align: center;
  opacity: 0.8;
  display: block;
  animation: downAnim 2s infinite;
  position: relative;
  z-index: 1;
  top: -100px;
}
.downarrowimg {
  width: 5%;
  height: 2%;
}

.kalamimgcon {
  text-align: center;
  z-index: 1;
  position: relative;
  top: -100px;
}
.kalamimg {
  width: 30%;
}
.kalamimg:hover {
  transform: scale(1.05);
}
.maincontainer {
  width: 85%;
  height: 470px;
  background-color: #efefef;
  margin: 0 auto;
  border: 5px solid #080706;
  border-radius: 15px;
  margin-top: 100px;
}

#About {
  margin-top: 20px;
}

.abdultext {
  font-size: 40px;
  text-align: center;
  font-weight: 600;
  background: -webkit-linear-gradient(top, orange, orange, green);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Concert One", cursive;
}

.abef1:hover,
.abef2:hover,
.abef3:hover {
  background: -webkit-linear-gradient(top, green, orange, orange);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.pretext {
  font-size: 23px;
  text-align: center;
  font-weight: 600;
  font-family: "Josefin Sans", sans-serif;
  color: #49c6c1;
  margin-top: -15px;
}

.containerbox {
  text-align: justify;
  padding: 0px 4% 2% 4%;
}

.abouttext {
  font-size: 19px;
  font-family: "Kreon", serif;
  word-spacing: 3px;
  color: #566573;
}

#Achievements {
  margin-top: 50px;
}

.architext {
  text-align: center;
  font-size: 40px;
  font-family: "Concert One", cursive;
  background: -webkit-linear-gradient(top, orange, orange, green);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.architext:hover {
  background: -webkit-linear-gradient(top, green, orange, orange);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.achevhr {
  color: #080706;
  width: 7%;
  border-color: #080706;
  border-width: 5px;
  margin-top: -15px;
}

.mainboxcontainer {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-flow: wrap;
  padding: 0px 2% 0px 2%;
}

.boxc {
  width: 22%;
  height: 330px;
  background: #efefef;
  margin: 10px;
  box-sizing: border-box;
  border: 3px solid #080706;
  border-radius: 10px;
  text-align: center;
}

.datetextbox {
  font-size: 22px;
  font-family: "Fredoka One", cursive;
  color: #78909c;
  margin-top: -16px;
}

.contenttextbox {
  text-align: justify;
  font-family: "Kreon", serif;
  color: #566573;
  font-size: 17px;
  padding: 0px 4% 0px 4%;
}
.boxc:hover {
  transform: scale(1.08);
}

.headtextbox {
  font-size: 23px;
  font-family: "Josefin Sans", sans-serif;
  color: #d1b280;
  font-weight: 600;
  background-color: #080706;
  padding-top: 3%;
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  /*Navigation bar coding*/
  .navtopicon {
    display: block;
  }
  .navtoplist {
    width: 100%;
    display: none;
  }

  .navtoplist li {
    display: block;
    text-align: center;
  }

  .active {
    display: block;
  }
  /*end of naviation coding*/

  .downarrow {
    top: -40px;
    animation: downAnime 2s infinite;
  }

  .maincontainer {
    margin-top: 20px;
    height: 640px;
  }

  .kalamimgcon {
    top: -40px;
  }

  .kalamimg {
    width: 40%;
  }
  .abdultext {
    font-size: 30px;
  }

  .pretext {
    font-size: 19px;
  }

  .abouttext {
    font-size: 15px;
    word-spacing: 2px;
  }

  .boxc {
    width: 60%;
  }

  @keyframes downAnime {
    50% {
      top: -20px;
    }
  }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
  /*Navigation bar coding*/
  .navtopicon {
    display: block;
  }
  .navtoplist {
    width: 100%;
    display: none;
  }

  .navtoplist li {
    display: block;
    text-align: center;
  }

  .active {
    display: block;
  }
  /*end of naviation coding*/

  .downarrow {
    top: -60px;
    animation: downAnimee 2s infinite;
  }

  .maincontainer {
    margin-top: 40px;
    height: 620px;
  }

  .kalamimgcon {
    top: -50px;
  }

  .kalamimg {
    width: 40%;
  }
  .abdultext {
    font-size: 35px;
  }

  .pretext {
    font-size: 20px;
  }

  .abouttext {
    font-size: 17px;
    word-spacing: 2px;
  }

  .boxc {
    width: 42%;
  }

  @keyframes downAnimee {
    50% {
      top: -40px;
    }
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  /*Navigation bar coding*/
  .navtoplist {
    word-spacing: 30px;
  }
  /*end of naviation coding*/

  .downarrow {
    top: -70px;
    animation: downAnimeee 2s infinite;
  }

  .maincontainer {
    margin-top: 50px;
    height: 550px;
  }

  .kalamimgcon {
    top: -70px;
  }

  .kalamimg {
    width: 36%;
  }
  .abdultext {
    font-size: 40px;
  }

  .boxc {
    width: 30%;
  }

  @keyframes downAnimeee {
    50% {
      top: -45px;
    }
  }
}

@keyframes downAnim {
  50% {
    top: -60px;
  }
}
